body, h1, h2, h3
{
    margin: 0; /* tira a parte branca da margem, quero que a cor do background cubra a parte toda da tela */
    padding: 0;
    box-sizing: border-box;
}

a
{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: .3s;
}

a:hover 
{
    color: #1D1A31;
}

p
{
    font-size: 30px;
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}