header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9A4C95;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

header h1
{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0 #000;
    font-size: 30px;
}

header nav
{
    text-align: right;
}

a
{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: .3s;
}

a:hover
{
    color: #1D1A31;
}

header a::before
{
    content: "";
    background-color: #F88D35;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.skills
{
    background-color: #F88D35;
    height: 680px;
    border-bottom: 10px solid #9A4C95;
    padding-top: 50px;
}

.skills h1
{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.boxskills
{
    background-color: #9A4C95;
    height: 480px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}