header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9A4C95;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

header h1 
{
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0 #000;
    font-size: 30px;
}

header nav 
{
    text-align: right;
}

header a::before 
{
    content: "";
    background-color: #F88D35;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}