.icon-menu
{
    background-image: url(../../images/icon-menu.png);
    background-repeat: no-repeat;
    background-size: auto 100%; /*eixo X primeiro, depois eixo Y*/
    text-indent: -9999px; /*Joga o texto para algum lado*/
    width: 60px;
    height: 60px;
    image-rendering: pixelated; /*No automatico sempre tenta ficar suavizado, assim deixa pixelizado*/
}


