h1 
{
    font-family: 'Press Start 2P', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.caixa-nome h1 
{
    color: #F88D35;
    text-shadow: 4px 4px 0 #000;
    margin: 41px 12px 29px 15px;
}

.main-tittle.-second
{
    color: #fff;
    text-align: center;
}