h2
{
    font-family: 'Press Start 2P', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.main-box h2 
{

    color: #fff;
    text-shadow: 4px 4px 0 #000;
    text-align: center;
}