.wrapper-project
{
    display: flex;
    width: 1152px;
    height: 280px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-project .box
{
    background-color: tomato;
    width: 280px;
    box-shadow: 10px 10px 0 #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
